n8n/auto_post_full_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 10,
            "minute": 0
          }
        ]
      },
      "id": "DailyTrigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [100, 100]
    },
    {
      "parameters": {
        "operation": "list",
        "drive": "myDrive",
        "folderId": "1mjz41n4cC7_HXATcInkyproFjOLKoY7m",
        "returnAll": false,
        "limit": 1,
        "filters.sort": "createdTime desc"
      },
      "id": "PickVideo",
      "name": "Pick Latest Video",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 1,
      "position": [300, 100]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "{\n  \"model\": \"anthropic/claude-3-haiku\",\n  \"messages\": [{\"role\": \"user\",\"content\": \"Generate a catchy SEO YouTube title and Instagram/Facebook caption for a motivational business reel.\"}],\n  \"max_tokens\": 150\n}"
      },
      "id": "TitleGeneratorClaude",
      "name": "Title & Caption (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 100]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=AIzaSyCU8LRPEyZb-EoqKGcp0oj9NJamoB61tJU",
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "{\n  \"contents\": [{\"parts\": [{\"text\": \"Generate SEO title and Instagram caption for business motivation video.\"}]}]\n}"
      },
      "id": "GeminiFallback",
      "name": "Title & Caption (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [700, 100]
    },
    {
      "parameters": {
        "operation": "upload",
        "title": "={{$json[\"title\"]}}",
        "description": "={{$json[\"caption\"]}}",
        "videoBinaryData": true,
        "videoPropertyName": "data",
        "privacyStatus": "public"
      },
      "id": "UploadYT",
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [900, 100]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/PAGE_ID/media",
        "method": "POST",
        "jsonParameters": true,
        "bodyParametersJson": "{\n  \"video_url\": \"{{drive_file_url}}\",\n  \"caption\": \"{{title}} - {{caption}}\",\n  \"access_token\": \"EAAUbFZArqRvgBPADUoPETC2R9nWBuaiJxvPnm3ZCod3IGFyxdtGXRQMaoEFYD2ZBrwYPjsofV3dI3YLt9NNajSVfapWKWCDLQjvwuiOXcj8YFG3nzMxsBa4AAB3NZAndkNmI181fVMaeVzGeSxCsNbZC7vdXtAQy7NNZBONLAjkhFsvEP3MYWkET8tfzjSSgZDZD\"\n}"
      },
      "id": "UploadFBInsta",
      "name": "Upload to FB/Insta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1100, 100]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "text": "✅ Video posted successfully to all platforms.",
        "chatId": "@RubyHustle_Bot"
      },
      "id": "NotifyTelegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1300, 100]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [ [ { "node": "Pick Latest Video", "type": "main", "index": 0 } ] ]
    },
    "Pick Latest Video": {
      "main": [ [ { "node": "Title & Caption (Claude)", "type": "main", "index": 0 } ] ]
    },
    "Title & Caption (Claude)": {
      "main": [ [ { "node": "Upload to YouTube", "type": "main", "index": 0 } ] ]
    },
    "Upload to YouTube": {
      "main": [ [ { "node": "Upload to FB/Insta", "type": "main", "index": 0 } ] ]
    },
    "Upload to FB/Insta": {
      "main": [ [ { "node": "Notify Telegram", "type": "main", "index": 0 } ] ]
    }
  }
}
